.title {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 8vw;
}

@media (min-width: 768px) {
    .title {
        font-size: 6vw;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 4vw;
    }
}
