:root {
  --color-base: #333;
  --color-light-1: #666;
  --color-light-2: #999;
  --color-light-3: #ccc;
  --color-light-4: #ddd;
  --color-dark-1: #000; 
  --color-dark-2: #222; 
  --color-dark-3: #444; 
}

body, html {
  padding: 0px;
  margin: 0px;
  background-color: var(--color-light-4);
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
