:root {
  --color-base: #333;
  --color-light-1: #666;
  --color-light-2: #999;
  --color-light-3: #ccc;
  --color-light-4: #ddd;
  --color-dark-1: #000; 
  --color-dark-2: #222; 
  --color-dark-3: #444;

  --inverse-darker: #171b21;
  --secondary: #353d4a;
  --primary: #566578;
  --inverse: #7a90ab;

  --white: #ffffff;
  --black: #000000;
}

body, html {
  padding: 0px;
  margin: 0px;
  background-color: var(--secondary);
  height: 100%;
}

.title {
  color: var(--white);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.main{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:active {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
